body {
  font-family: arial;
  text-align: center;
  margin: 0 auto;
  background-color: #FF8000;
  width: 80%;
}


h1 {
  color: red;
}

img {
  width: 60%
}

h2 {
  border: 1px solid black;
  margin: 40px;
  padding: 30px;
}
